@media only screen and (max-width: 1280px) {
  .content {
    height: 85%;
  }
}
@media only screen and (max-height: 640px) {
  .login-div {
    bottom: 5%;
  }
}
@media only screen and (max-height: 600px) {
  .login-div {
    bottom: 20px;
  }
}
@media only screen and (max-width: 980px) {
  .welcome-background {
    height: auto;
  }
  .welcome-background .welcm-img-section {
    margin-top: 110px;
  }
  .welcome-background .btn-lg {
    width: auto;
  }
  .welcome-background h2 {
    margin-top: 20px;
  }
  .welcome-text {
    bottom: auto;
    float: left;
    margin-top: 100px;
    position: relative;
    width: 100%;
  }
  .login-div {
    bottom: 0;
    float: left;
    left: 0;
    margin-top: 60px;
    max-width: 100%;
    position: relative;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .modal-body {
    height: 200px;
    overflow-y: auto;
  }
  .loginbackground {
    background-size: 1800px;
    background-position: top left;
  }
  .patient-form .form-group {
    width: 100%;
  }
  .profile .media-body .block2 p {
    width: 50%;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .modal-body {
    height: 200px;
    overflow-y: auto;
  }
}
@media only screen and (max-width: 1180px) {
  .timeline-block #accordion .panel-body .block {
    width: 25%;
  }
}
@media only screen and (max-width: 1024px) {
  .timeline-block #accordion .panel-body .block {
    width: calc(100%/3);
  }
  .timeline li {
    font-size: 16px;
    padding-left: 25px;
    position: relative;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .profile .media-body .block p {
    width: 100%;
  }
  .loginbackground {
    height: auto;
  }
}
@media only screen and (max-width: 520px) {
  .profile .media-body {
    padding-left: 20px;
  }
}
